.home {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.photo img {
    height: 300px;
    width: 400px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.profile {
    display: flex;
}

.about {
    font-size: 18px;
    padding-left: 20px;
}

.about h2 {
    color: rgb(209, 112, 2);
}

h3 {
    color: rgb(209, 112, 2);
    text-align: center;
    font-size: 25px;
}

.link li {
    float: left;
    padding-right: 40px;
    width: 400px;
    height: 300px;
    background-color: rgb(104, 109, 76, 0.5);
    margin: 30px;
    font-size: 18px;
}


/* .link {
    width: 100%;
} */

.link li {
    box-shadow: 5px 10px 18px 15px rgb(209, 112, 2, 0.4);
    ;
}

li a {
    text-decoration: none;
    background-color: rgba(35, 195, 201, 0.4);
    color: black;
    padding-bottom: 20px;
    padding-right: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

a:hover {
    background-color: rgb(209, 112, 2);
    padding: 10px;
}

h4 {
    font-size: 18px;
    color: rgb(209, 112, 2);
}

.education li {
    padding-bottom: 20px;
    font-size: 18px;
}

h6 {
    text-decoration: underline;
    font-size: 15px;
}

.outline li,
p {
    font-size: 18px;
}

h5 {
    font-size: 17px;
}

.about {
    display: flex;
    justify-content: center;
}

.education {
    width: 40%;
}

.experience {
    width: 40%;
}

.vl {
    border-left: 1px solid black;
    margin-right: 100px;
}

.coding {
    display: flex;
    font-size: 18px;
}

.coding img {
    padding-right: 20px;
    height: 300px;
    padding-right: 100px;
}

#design {
    text-align: center;
}

input[type=text],
input[type=tel],
textarea {
    width: 99%;
    padding: 12px;
    margin: 8px;
    border: 1px solid #ccc;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

input[type=submit] {
    width: 99%;
    padding: 12px;
    margin: 8px;
    border: 1px solid #ccc;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    background-color: rgb(209, 112, 2);
}

div.tasks {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: rgb(104, 109, 76, 0.5);
    width: 50%;
    position: relative;
    left: 25%;
    margin-bottom: 30px;
}

footer {
    background-color: rgb(209, 112, 2);
    padding-bottom: 30px;
}

.media i {
    font-size: 20px;
    width: auto;
}

.social {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.media a {
    text-decoration: none;
}

.copy {
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: -25px;
}

.all {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.arrange {
    width: 90%;
}